<%= stylesheet_link_tag "application" %>
<div class="">
  <div class="">
    <div class="">
      <%= @profile.id ? 'Edit Profile' : 'Create Profile' %>
      <%= form_for [@user, @profile] do |f| %>
          <%= f.label :gamertag %>
          <%= f.text_field :gamertag %>

          <br />
          <%= f.submit nil, class: "" %>
      <% end %>
      </div>
    </div>
  </div>
